/* Viewport declarations */
@-ms-viewport { width: device-width; }
@-o-viewport  { width: device-width; }
@viewport     { width: device-width; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p { font-size: 1em;}
h1 { font-size: 2em;}
h2 { font-size: 1.6em;}
h3 { font-size: 1.4em;}
h4 { font-size: 1.2em;}
h5 { font-size: 1em;}
h6 { font-size: .75em;}

pre {
  padding: 1em;
  background-color: #FFFBE5;
  white-space: pre-wrap;
  border: 2px solid #ccc;
  border-radius: 3px;
}
code {
  font-family: monospace;
  background-color: #eee;
}
pre code {
  background-color: transparent;
}
dl {
  padding: 1em;
  background-color: #FFFBE5;
  border: 2px solid #ccc;
  border-radius: 3px;
}

@media all and (min-width: 32em) {
  body {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media all and (min-width: 20em) {
  dt {
    float: left;
  }
}
@media all and (min-width: 20em) {
  dd {
    text-align: right;
    margin-right: 4em;
  }
}
